<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style/index.css">
</head>
<body>
    <header>
        <div class="row">
            <div class="logo">
                <img src="/image/logo.png" alt="Your company">
            </div>
            <nav class="nav-bar">
                <ul>
                    <li class=""><a href="home.html">Home</a></li>
                    <li class=""><a href="about.html">About</a></li>
                    <li class="active"><a href="contacts.html">Contact</a></li>
                </ul>
            </nav>
        </div>    
    </header>
   <main>
       <section class="contact">
            <div class="contact-info">
                <p><h2>Contact Info:</h2></p>
                <p>To give give beginning divide, cattle. Give moving<br>
                     won't, there the abundalty she'd she'd brought air <br>
                    upon. Light hath subdue. Life days creature upon <br>
                    first heaven gathering dry</p>
                <ul>
                    <li><span class="contact-name">Address:</span> <span>10111 Santa Monica Boulevard, LA</span></li>
                    <li><span class="contact-name">Phone:</span> <span>+44 987 065 908</span></li>
                    <li><span class="contact-name">Email:</span> <span>info@Example.com</span></li>
                    <li><span class="contact-name">Fax:</span> <span>+44 987 065 909</span></li>
                </ul>
                      
            </div>
            <form action="#">
                <div> <input type="text" placeholder="Your Name" required> <input type="text" placeholder="Your Email" required></div>
                <div> <input type="text" placeholder="Title" required></div>
                <div> <textarea name="" id="" cols="30" rows="10" placeholder="Your Comment" required></textarea></div>
                <button type="submit">send message</button>
            </form>
       </section>
       <div class="map">

           
       </div>

   </main>

    <footer> 
        <div class="foot">
            <span>Piroll Design, Inc.</span> <br>
            <span>© 2017 Piroll. All rights reserved. Designed by robirurk.</span>
        </div>
        <div class="foot">
            <span>hello@pirolltheme.com<br> +44 987 065 908</span>
        </div>
        <div class="foot">
            <div class="foot-list">
                <ul>
                    <li>Projects</li>
                    <li>About</li>
                    <li>Services</li>
                    <li>Carreer</li>
                </ul>    
                <ul>
                    <li>News</li>
                    <li>Events</li>
                    <li>Contact</li>
                    <li>Legals</li>
                </ul>   
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Dribbble</li>
                </ul>  
            </div>    
        </div> 
    </footer>
    <script src="/index.js"></script>
</body>
</html>